.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.hero-container{
  padding: 0px;
  height: 100vh;
}

.hero-text {
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} 

.hero-background-image {
  position: relative;
  background: url("./components/images/decor-flatlay-from-above-1470171.jpg") center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero-para {
  width: 50%;
}

.nav-text {
  color: white
}
